.slider h3,
.slider h5,
.clients h3 {
	text-shadow: 1px 1px 3px rgb(0,0,0,0.5);
}

.parallax-container{
	height: 20%;
}

.parallax img{
	filter: grayscale(1);
opacity: 0.5;
}

.clients img{
	max-width: 150px;
}

section,footer {
	padding: 20px 0; 
}